<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>About</title>
</head>
<body>

<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
    <div class="container">

            <!-- Navigation -->
            <header> <a href="">
                <h4 class="logo">AntiSocialSocialNetwork</h4>
            </a>
                <!--		<img th:src="@{/images/logo.jpg}" th:size="25%">-->
                <nav>
                    <ul>
                        <li><a href="#" th:href="@{/}">HOME</a></li>
                        <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                        <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                    </ul>
                </nav>
            </header>
            <!-- left side section-->
            <section>

                <article class="column2">
                <h5> Thanks for visiting our kinda-social-network which is dedicated to all those great people preferred to #StayHome even when
                    it wasn't that mainstream. <br> Anyway, it's great time for all of us, staying home, doing nothing and being awesome
                    is a thing now!</h5>

                    <br>

                <div class="pattern-diagonal-lines-sm gray-lighter">
                                    <img class="figure-img" th:src="@{/images/logo2.png}" alt="pic" style="transform:translate(10px, 10px);max-width:680px;width:100%;"/>
                    <a th:href="@{/about}">
<!--                        <img class="figure-img" th:src="@{/images/logo3.png}" alt="LogoPic" style="transform:translate(0px, 0px);max-width:680px;width:100%;"/>-->
                    </a>
                </div>
                </article>

            </section>
            <footer>
                <p> A/P 2020</p>
            </footer>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>