<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="../static/my.js" th:src="@{/my.js}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Detailed comment view</title>
    <style>
        body{
            background-color: #eee;
            font-family: Montserrat, serif;
            margin: 0;
            font-style: normal;
            font-weight: 200;
        }

        .text-info{
            font-size: x-small;
        }

        .container {
            background-color: #20102e;
            color: lightgrey;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
        }

        header{
            color: lightgrey;
            width: 100%;
            height: 50px;
            background-color: #8C63C1;
            border-bottom: 1px solid #D4C6FF;
        }

        .logo {
            color: #fff;
            font-weight: bold;
            text-align: justify;
            width: 10%;
            float: left;
            margin-top: 15px;
            margin-left: 25px;
            letter-spacing: 4px;
        }

        nav {
            float: right;
            width: 50%;
            text-align: right;
            margin-top: 15px;
            margin-right: 25px;
        }

        header nav ul{
            list-style-type: none;
            float: right;
            padding: 0;
        }

        nav ul li {
            float: left;
            color: #FFFFFF;
            font-size: 14px;
            text-align: left;
            margin-right: 25px;
            letter-spacing: 2px;
            font-weight: bold;
            transition: all 0.3s linear;
        }

        ul li a {
            color: #20102e;
            text-decoration: none;
        }

        .column1 h3 {
            color: #B3B3B3;
            text-align: left;
        }

        .column2 h3 {
            color: #B3B3B3;
            text-align: left;
        }

        section:after {
            content: "";
            display: table;
            clear: both;
        }

        footer {
            background-color: #B777F8;
            padding-left: 86%;
            padding-top: 2px;
            padding-bottom: 3px;
        }
    </style>
</head>
<body>

<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
    <div class="container">

        <!-- Navigation -->
        <header> <a href="">
            <h6 class="logo">AntiSocialSocialNetwork</h6>
        </a>
            <nav>
                <ul>
                    <li><a href="#" th:href="@{/}">HOME</a></li>
                    <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                    <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <article class="column2">
                <!--            <h6>Detailed post view</h6>-->
                <br><br>
                <h5><div th:text="${comment.text}">Comment</div></h5>
                <div class="text-info" th:text="${'Created at ' + comment.createdAt.toString().replace('T', ' ')}">Commented at</div>
                <br>
                <p th:text="${'Created by ' + comment.createdBy.username}">Created by</p>

                <!--            if user is author of the comment he can modify it &#160-->
                <div th:if="${userService.getByUsername(#authentication.getName()).id.equals(comment.createdBy.id)}">
                        <div class="form-group">
                            <form action="#" th:action="@{/comment/{id}(id=${comment.id})}" th:method="post">
                                <button type="submit" class="btn btn-outline-danger" value="Delete comment" style="width: 75px;">Delete</button>
                            </form>
                        </div>
                </div>

                <!--                This content is only shown to administrators.-->
                <div th:if="${!userService.getByUsername(#authentication.getName()).id.equals(comment.createdBy.id)}">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <div class="form-group">
                            <form action="#" th:action="@{/comment/{id}(id=${comment.id})}" th:method="post">
                                <button type="submit" class="btn btn-outline-danger" value="Delete comment" style="width: 75px;">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!--            LIKE/UNLIKE-->
<!--                <div th:if="${isUserLikedIt}">-->
<!--                    <a th:id="'l-' + ${post.getId()}" class="btn text-dark" th:postId="${post.id}"-->
<!--                       onclick="unlikePost(this.getAttribute('postId'))"><ion-icon name="heart" color="danger"></ion-icon>-->
<!--                        <span th:text="${post.getLikesCount()}"></span></a>-->
<!--                </div>-->
<!--                <div th:if="${!isUserLikedIt}">-->
<!--                    <a th:id="'l-' + ${post.getId()}" class="btn text-dark" th:postId="${post.id}"-->
<!--                       onclick="likePost(this.getAttribute('postId'))"><ion-icon name="heart"></ion-icon>-->
<!--                        <span th:text="${post.getLikesCount()}"></span></a>-->
<!--                </div>-->

            </article>

        </section>
        <footer>
            <p> A/P 2020</p>
        </footer>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>
