<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>Friendship accepted</title>
</head>
<body>

<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
    <div class="container">
        <div class="row">

    <!-- Navigation -->
    <header> <a href="">
        <h4 class="logo">AntiSocialSocialNetwork</h4>
    </a>
        <nav>
            <ul>
                <li><a href="#" th:href="@{/}">HOME</a></li>
                <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                <li><a href="#" th:href="@{/post/all}">FEED</a></li>
            </ul>
        </nav>
    </header>
    <!-- left side section-->
    <section>
        <article class="col-lg-auto">
            <br>
            <br>
            <h6>Now you are friends!</h6>
            <br>
            <h5>So what are we up now?</h5>
        </article>

        <!-- right side section-->
        <article class="column2">
            <div>
                <div><a href="#" th:href="@{/user/{id}(id=${userService.getByUsername(#authentication.getName()).id})}">
                    Go to your profile</a></div>
                <div><a href="#" th:href="@{/user/all}">See more users</a></div>
            </div>
        </article>

    </section>
    <footer>
        <p> A/P 2020</p>
    </footer>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>