<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        html, body{
            height: 100%;
        }

        div {
            min-height: 100%;
        }

        body{
            background-color: #212529;
            font-family: Montserrat, serif;
            min-height: 100%;
            font-style: normal;
            font-weight: 200;
        }

        .container {
            background-color: #20102e;
            color: lightgrey;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            height: 80%;
        }

        header{
            color: lightgrey;
            width: 100%;
            height: 50px;
            background-color: #8C63C1;
            border-bottom: 1px solid #D4C6FF;
        }

        .logo {
            color: #fff;
            font-weight: bold;
            text-align: justify;
            width: 100%;
            float: left;
            margin-top: 15px;
            margin-left: 25px;
            letter-spacing: 4px;
        }

        nav {
            float: right;
            width: 50%;
            text-align: right;
            margin-right: 25px;
        }

        header nav ul{
            list-style-type: none;
            float: right;
            padding: 0;
        }

        nav ul li {
            float: left;
            color: #FFFFFF;
            font-size: 14px;
            text-align: left;
            margin-right: 25px;
            letter-spacing: 2px;
            font-weight: bold;
            transition: all 0.3s linear;
        }

        ul li a {
            color: #20102e;
            text-decoration: none;
        }
        /*	 About Section */
        .column1 {
            background-color: #49315E;
            margin: 10px;
            width: 25%;
            text-align: left;
            padding: 30px 20px 20px;
            float: left;
        }
        .column1 h3 {
            color: #B3B3B3;
            text-align: left;
        }

        .column2 {
            margin: 10px;
            width: 50%;
            text-align: left;
            padding: 30px 20px 20px;
            float: left;
        }

        .column3 {
            margin: 10px;
            width: 50%;
            height: 250px;
            text-align: left;
            padding: 30px 20px 20px;
            float: left;
        }

        .column2 h3 {
            color: #B3B3B3;
            text-align: left;
        }

        section:after {
            content: "";
            display: table;
            clear: both;
            height: 20px;
        }

        footer {
            background-color: #B777F8;
            padding-left: 82%;
            padding-top: 2px;
            padding-bottom: 3px;
        }

    </style>
</head>
<body>

<!--fon pattern https://bansal.io/pattern-css#installation -->
<div class="pattern-dots-lg bg-dark alert-light">
<!-- Main Container -->
<div class="container">
    <header>
        <a href=""> <h5 class="logo">Make staying home great again!</h5></a>
    </header>

    <section>
        <article class="column1">
            <h6 style="text-align: center"> Welcome to our cozy <br> Anti Social Social Network</h6>
            <div class="pattern-diagonal-lines-sm gray-lighter">
                <a th:href="@{/about}">
                <img class="figure-img" th:src="@{/images/logo3.png}" alt="LogoPic" style="transform:translate(0px, 0px);max-width:680px;width:100%;"/>
                </a>
            </div>
        </article>

        <article class="column2">

            <!-- User Role part -->
            <div sec:authorize="isAuthenticated()">
                You logged as:&#160<span sec:authentication="name"></span>
            </div>
        <!-- Login for UNAUTHORIZED users -->
            <form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
<!--                <br>-->
                <button type="submit" class="btn btn-primary" value="Login"> Login </button>
            </form>
        <br>

        <!-- Registration for UNAUTHORIZED users-->
            <div sec:authorize="!isAuthenticated()">
                <h4>Haven't sign up yet?</h4>
                    <h3>Do it now!</h3>
                         <form th:action="@{/registration}" sec:authorize="!isAuthenticated()" method="get">
                             <button type="submit" class="btn btn-outline-dark" value="Register"> Register </button>
                         </form>
                <br>
                <h4>Not ready to register yet? That's cool bro - look around, have fun!</h4>
                    <form th:action="@{/post/all}" sec:authorize="!isAuthenticated()" method="get">
                        <button type="submit" class="btn btn-outline-dark" value="See public feed"> See public feed </button>
                    </form>
                    <br>
                <form th:action="@{/user/all}" sec:authorize="!isAuthenticated()" method="get">
                    <button type="submit" class="btn btn-outline-dark" value="See all users"> See all users </button>
                </form>
                <br>
                <h5>Looking for some specific user? Hah</h5>
                <form class="navbar-expand-md" th:action="@{/user/search}" method="get">
                    <input class="btn btn-outline-dark" style="width: 380px;" placeholder="Search by first and last name or email or whatever" type="text" id="names" name="names"/>
                    <button type="submit" class="btn btn-outline-success" value="shoot!"> shoot! </button>
                </form>
                <br>
            </div>

        <div sec:authorize="isAuthenticated()">
            <p><a href="#" th:href="@{/user/{id}(id=${userService.getByUsername(#authentication.getName()).id})}"> Go to your profile</a></p>
            <p><a href="#" th:href="@{/user/all}">See all users</a></p>
            <p><a href="#" th:href="@{/post/create-form}">Write a post</a></p>
            <p><a href="#" th:href="@{/user/update-form/{id}(id=${userService.getByUsername(#authentication.getName()).id})}"> Update your account</a></p>
        </div>

            <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                <br>
                <button type="submit" class="btn btn-outline-danger" value="Logout"> Logout </button>
                <article class="column3">
                &#160
                </article>
            </form>

            <div sec:authorize="!isAuthenticated()">
            </div>


        </article>
    </section>
    <footer>
        <!--            ADMIN PART-->
        <div sec:authorize="!isAuthenticated()">
            <form th:action="@{/root}" method="get">
                <button type="submit" class="btn btn-outline-primary" value="Admin login">Admin login</button> A/P 2020
            </form>
        </div>

        <div sec:authorize="isAuthenticated()">
            A/P 2020
        </div>
    </footer>
</div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>
