<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>Login</title>
</head>
<body>

<!--fon pattern https://bansal.io/pattern-css#installation -->
<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
    <div class="container">
        <!-- Navigation -->
        <header> <a href=""> <h6 class="logo">AntiSocialSocialNetwork</h6> </a>
            <nav>
                <ul>
                    <li><a href="#" th:href="@{/}">HOME</a></li>
                    <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                    <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <article class="col-lg-auto">
                <br>
                <h4>Nice to see ya back, alive!</h4>
                <div class="form-group">
                    <p><i th:if="${param.error}" class="error">Wrong username or password</i></p>

                    <p><i th:if="${param.logout}">You have been logged out</i></p>

                    <form th:action="@{/authenticate}" method="post">
                        <div class="form-group">
                            <input id="username" class="form-control" style="width: 200px;" placeholder="username" type="text" name="username"/>
                        <br/>
                            <input id="password" class="form-control" style="width: 200px;" placeholder="password" type="password" name="password"/>
                            <br/>
                        <button type="submit" class="btn btn-outline-success" value="Login">Login</button>
                        </div>
                    </form>

                    <br>
                    <h4> Haven't sign up yet? <a th:href="@{/registration}"> Register now</a></h4>
                </div>
            </article>

        </section>
        <footer>
            <p> A/P 2020</p>
        </footer>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>
