<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>Write post</title>
</head>
<body>

<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
    <div class="container">
            <!-- Navigation -->
            <header> <a href=""><h4 class="logo">AntiSocialSocialNetwork</h4></a>
                <nav>
                    <ul>
                        <li><a href="#" th:href="@{/}">HOME</a></li>
                        <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                        <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                    </ul>
                </nav>
            </header>

            <section>
                <article class="col-lg-auto">
                    <br>
                <form th:action="@{/post/create}" th:object="${postDTO}" method="post">
                    <h3>Write a post</h3>
                    <div class="form-group">
                        <label for="title" class="control-label">Title</label>
                        <input id="title" class="form-control" style="width: 150px;" th:field="*{title}" required/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('title')}"
                           th:text="${error}">Validation error</p>
                    <br>

                        <label for="content" class="control-label">Content</label>
                        <input id="content" class="form-control" style="width: 450px;" th:field="*{content}" required/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('content')}"
                           th:text="${error}">Validation error</p>
                    <br>

                        <label for="location" class="control-label">Location</label> <input
                            id="location" class="form-control" style="width: 150px;" th:field="*{location}" />
                        <p class="error-message"
                           th:each="error : ${#fields.errors('location')}"
                           th:text="${error}">Validation error</p>
                    <br>

                        <button type="submit" class="btn btn-success">Save a post</button> <br> <br>
                    </div>
                </form>
                </article>
        </section>
        <footer>
            <p> A/P 2020</p>
        </footer>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>