<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>Posts</title>
</head>
<body>

<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
    <div class="container">

        <!-- Navigation -->
        <header> <a href="">
            <h6 class="logo">AntiSocialSocialNetwork</h6>
        </a>
            <nav>
                <ul>
                    <li><a href="#" th:href="@{/}">HOME</a></li>
                    <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                    <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                </ul>
            </nav>
        </header>
    <!-- left side section-->
    <section>
        <article class="column1">

<!--             Registration part for UNAUTHORIZED users-->
            <div sec:authorize="!isAuthenticated()">
                <br>
                <h6>Sure, we do not mind having anonymous here, but still, plz, consider registration!</h6>
                <!--                        <h5>Let's face it, you have nothing better to do!</h5>-->
                <form th:action="@{/registration}" sec:authorize="!isAuthenticated()" method="get">
                    <button type="submit" class="btn btn-success" value="Register"> Register </button>
                </form>
                <br>
            </div>

        </article>

        <article class="column2">
            <!--            No posts scenario -->
            <div th:if="${feed.isEmpty()}">
                <h2 th:text="#{feed.empty}">No posts</h2>
            </div>

            <!--            Posts available scenario -->
            <div th:unless="${feed.isEmpty()}">
                <h2 th:text="#{feed.global}">Global post feed</h2>
                <div class="table">
                    <div class="header"></div>
                    <div class="" th:each="post : ${feed}">
                        <div class="cell"><a th:text="${post.title}" th:href="@{/post/{id}(id=${post.id})}">Title</a></div>
                        <div class="cell" th:text="${post.content}">Content</div>
                        <div th:if="${post.picture != null}">
                            <div id="ImageContainerPost">
                                <div class="pattern-diagonal-lines-sm gray-lighter">
                                    <img class="figure-img" th:src="@{/post/image/{id}(id=${post.id})}" alt="pic" style="transform:translate(10px, 10px);max-width:500px;width:100%;"/>
                                </div>
                            </div>
                            <br>
                        </div>

                        <div class="text-info" th:text="${'Posted at&#160' + post.createdAt.toString().replace('T', ' ')}">Created at</div>
                        <div>Created by&#160 <a th:text="${post.createdBy.username}" th:href="@{/user/{id}(id=${post.createdBy.id})}">Created by</a> </div>

                        <!--                        LIKE/UNLIKE-->
<!--                        <div th:with="isUserLikedIt=${likeService.isPostLikedByUser(post.id, loggedUser)}">-->
<!--                            <div th:if="${isUserLikedIt}">-->
<!--                                <a th:id="'l-' + ${post.getId()}" class="btn text-dark" th:postId="${post.id}"-->
<!--                                   onclick="unlikePost(this.getAttribute('postId'))"><ion-icon name="heart" color="danger"></ion-icon>-->
<!--                                    <span th:text="${post.getLikesCount()}"></span></a>-->
<!--                            </div>-->
<!--                            <div th:if="${!isUserLikedIt}">-->
<!--                                <a th:id="'l-' + ${post.getId()}" class="btn text-dark" th:postId="${post.id}"-->
<!--                                   onclick="likePost(this.getAttribute('postId'))"><ion-icon name="heart"></ion-icon>-->
<!--                                    <span th:text="${post.getLikesCount()}"></span></a>-->
<!--                            </div>-->
<!--                            <br>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </article>

    </section>
    <footer>
        <p> A/P 2020</p>
    </footer>
</div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>