<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>Update post</title>
</head>
<body>

<!--fon pattern https://bansal.io/pattern-css#installation -->
<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
<div class="container">
    <div class="row">

        <!-- Navigation -->
        <header> <a href=""> <h6 class="logo">AntiSocialSocialNetwork</h6> </a>
            <nav>
                <ul>
                    <li><a href="#" th:href="@{/}">HOME</a></li>
                    <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                    <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <article class="col-lg-auto">

            <form action="#" th:action="@{/post/update/{id}(id=${postId})}" th:object="${postDTO}" method="post">
            <h3>Update your post</h3>

                <p><a href="#" th:href="@{/post/image/upload/{id}(id=${postId})}">Manage your picture</a></p>

            <div class="form-group">
                <label for="title" class="control-label">Post title</label>
                <input id="title" class="form-control" style="width: 225px;" th:field="*{title}" required/>
                <p class="error-message"
                   th:each="error: ${#fields.errors('title')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="content" class="control-label">Content</label>
                <input id="content" class="form-control" style="width: 450px;" th:field="*{content}" required/>
                <p class="error-message"
                   th:each="error: ${#fields.errors('content')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="location" class="control-label">Location</label> <input
                    id="location" class="form-control" style="width: 225px;" th:field="*{location}"/>
                <p class="error-message"
                   th:each="error : ${#fields.errors('location')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-success" style="width: 75px;">Update</button>
                <br>
            </div>
            </form>
            </article>


            <article class="col-lg-auto">
                <div class="form-group">
                    <form action="#" th:action="@{/post/{id}(id=${postId})}" th:method="delete">
                        <button type="submit" class="btn btn-outline-danger" value="Delete post" style="width: 75px;">Delete</button>
                    </form>
                </div>
            </article>

        </section>
        <footer>
            <p> A/P 2020</p>
        </footer>
    </div>
</div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>