<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>Registration</title>
</head>
<body>

<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
    <div class="container">
        <div class="row">

            <!-- Navigation -->
            <header> <a href=""> <h6 class="logo">AntiSocialSocialNetwork</h6> </a>
                <nav>
                    <ul>
                        <li><a href="#" th:href="@{/}">HOME</a></li>
                        <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                        <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                    </ul>
                </nav>
            </header>

            <section>
                <article class="col-lg-auto">

            <form th:action="@{/registration}" th:object="${userRegistrationDto}" method="post">
                <h2>Registration</h2>

                <div class="form-group">
                    <label for="username" class="control-label">Username</label> <input
                        id="username" class="form-control" th:field="*{username}" required/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <label for="firstName" class="control-label">First name</label> <input
                        id="firstName" class="form-control" th:field="*{firstName}" required/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <label for="lastName" class="control-label">Last name</label> <input
                        id="lastName" class="form-control" th:field="*{lastName}" required/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <label for="email" class="control-label">E-mail</label> <input
                        id="email" class="form-control" th:field="*{email}" required/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <label for="confirmEmail" class="control-label">Confirm
                        e-mail</label> <input id="confirmEmail" class="form-control"
                                              th:field="*{confirmEmail}" required/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmEmail')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" required/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="control-label">Confirm password</label>
                    <input id="confirmPassword" class="form-control"
                                                type="password" th:field="*{confirmPassword}" required/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button> <br> <br>
                    <span>Already registered?<a href="/" th:href="@{/login}"> Login here</a></span>
                </div>
            </form>

            </article>
        </section>
    </div>

    <footer>
        <p> A/P 2020</p>
    </footer>

    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>