<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>Under construction </title>
</head>
<body>

<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
    <div class="container">
        <div class="row">

            <!-- Navigation -->
            <header> <a href="">
                <h4 class="logo">AntiSocialSocialNetwork</h4>
            </a>
                <!--		<img th:src="@{/images/logo.jpg}" th:size="25%">-->
                <nav>
                    <ul>
                        <li><a href="#" th:href="@{/}">HOME</a></li>
                        <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                        <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                    </ul>
                </nav>
            </header>

    <section>
    <article class="column1">
        <h3>This section is under construction currently. See ya soon!</h3>
<!--        <ul>-->
<!--            <li>-->
<!--                <a href="#" th:href="@{/}">Home</a>-->
<!--            </li>-->
<!--        </ul>-->
        </article>
    </section>
    <footer>
        <p> A/P 2020</p>
    </footer>
</div>
</div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>
