<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>Upload Picture</title>
</head>
<body>

<div class="pattern-dots-lg bg-dark alert-light">
    <div class="container">
        <div class="row">

        <header> <a href=""> <h6 class="logo">AntiSocialSocialNetwork</h6> </a>
            <nav>
                <ul>
                    <li><a href="#" th:href="@{/}">HOME</a></li>
                    <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                    <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <article class="column2">
            <br>

        <form method="post" enctype="multipart/form-data" th:action="@{/post/image/upload/{id}(id=${post.id})}">
            <label class="btn-dark">Select image file to upload </label>
            <input id="imagefile" name="imagefile" type="file" class="btn btn-dark">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

            </article>
        </section>
        </div>

        <footer>
            <p> A/P 2020</p>
        </footer>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>