<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>All Users in the network</title>
</head>
<body>

<!-- Main Container -->
<div class="container">
    <!-- Navigation -->
    <header> <a href=""><h4 class="logo">AntiSocialSocialNetwork</h4></a>
        <nav>
            <ul>
                <li><a href="#" th:href="@{/}">HOME</a></li>
                <li><a href="#" th:href="@{/all}">DUDES</a></li>
                <li><a href="#" th:href="@{/post/all}">FEED</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <br>
        <div th:if="${users.isEmpty()}">
            <h2 th:text="#{users.emptyTitle}">No Users</h2>
        </div>
        <tr th:unless="${users.isEmpty()}">
            <h2 th:text="#{users.title}">Users</h2>
            <!--Table-->
            <table class="table table-inverse w-auto">
                <thead>
                    <tr>
                        <th scope="col"> <div th:text="#{users.header.username}">Username</div>
                        <th scope="col"> <div th:text="#{users.header.firstName}">First Name</div>
                        <th scope="col"> <div th:text="#{users.header.lastName}">Last Name</div>
                        <th scope="col"> <div th:text="#{users.header.email}">Email</div>
                    </tr>
                <thead>
                <tbody>
                    <tr class="table-info">
                        <tr th:each="user : ${users}">
                        <td><a th:text="${user.username}" th:href="@{/user/{id}(id=${user.id})}">Username</a></td>
                        <td th:text="${user.firstName}">First Name</td>
                        <td th:text="${user.lastName}">Last Name</td>
                        <td th:text="${user.email}">Email</td>
                    </tr>
            </tbody>
            </table>

    </section>
    <footer>
        <p> A/P 2020</p>
    </footer>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>