<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>User profile</title>
    <style>
        .text-info{
            font-size: x-small;
        }
    </style>

</head>
<body>

<div class="pattern-dots-lg bg-dark alert-light">
<!-- Main Container -->
<div class="container">
    <!-- Navigation -->
    <header> <a href=""><h6 class="logo">AntiSocialSocialNetwork</h6></a>
        <nav>
            <ul>
                <li><a href="#" th:href="@{/}">HOME</a></li>
                <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                <li><a href="#" th:href="@{/post/all}">FEED</a></li>
            </ul>
        </nav>
    </header>
    <!--profile details section-->
    <section>
        <article class="column1">

            <!--            PICTURE -->
            <div th:if="${isThereNoUserPicture}">
                <div class="pattern-dots-sm gray-light">
                    <img class="figure-img" src="../static/images/poop-ava.png"
                         th:src="@{http://localhost:8080/images/poop-ava.png}" alt="DefUserPic" style="transform:translate(10px, -5px);max-width:170px;width:90%;"/>
                </div>
                <br>
            </div>

            <div th:if="${!isThereNoUserPicture}">
                    <div class="pattern-dots-sm gray-light">
                        <img class="figure-img" src="../static/images/poop-ava.png"
                        th:src="@{/user/image/{id}(id=${user.id})}" alt="CustomUserPic" style="transform:translate(10px, -5px);max-width:170px;width:100%;"/>
                    </div>
                <br>
            </div>

<!--            basic stuff-->
            <p th:text="${user.username}">Username</p>
            <p th:text="${user.firstName+' '+user.lastName}">Names</p>
            <p th:text="${user.email}">Email</p>
<!--            extra stuff-->
            <div th:unless="${user.job == null}">
                <p th:text="${'Job: ' + user.job}">Job</p>
            </div>

            <div th:unless="${user.daysNotGoingOut == null}">
                <p th:text="${'#NotGoingOut: ' + user.daysNotGoingOut}">DaysNotGoingOut</p>
            </div>

            <div th:unless="${user.gender == null}">
                <p th:text="${'gender: ' + user.gender.type}">Gender</p>
            </div>

            <div th:unless="${user.profileVisibility == null}">
                <p th:text="${'visibl for: ' + user.profileVisibility.type}">Visibility</p>
            </div>


            <div class="cell">
<!--                <a th:text="Connections" th:href="@{/user/dudes/{id}(id=${loggedUser.id})}">Connections</a></div>-->
            <a th:text="Connections" th:href="@{/user/dudes/{id}(id=${user.id})}">Connections</a></div>

            <div th:if="${isItYourOwnAcc}">
                <div class="cell">
                    <a th:href="@{/post/create-form}">Write a post</a>
                </div>
                <div class="cell">
                    <a th:href="@{/user/update-form/{id}(id=${user.id})}">Update profile</a>
                </div>
                <div class="cell">
                    <a th:href="@{/user/details/update-form/{id}(id=${user.id})}">Update details</a>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <br>
                    <form action="#" th:action="@{/sw}" th:method="get">
                        <button type="submit" class="btn btn-outline-danger" value="SWAGG!!1">SWAGG!!1</button>
                    </form>

                    <br>
                    <form action="#" th:action="@{/under-construction}" th:method="get">
                        <button type="submit" class="btn btn-outline-success" value="GDPR requests">GDPR requests</button>
                    </form>
                </div>
            </div>

        </article>

<!--        DEALING WITH POSTS / FEED-->
        <article class="column2">
<!--            No posts scenario -->
            <div th:if="${feed.isEmpty()}">
                <div sec:authorize="hasRole('ROLE_USER')">
                    <h2 th:text="#{feed.empty}">No posts</h2>
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
<!--                    <h2 th:text="#{feed.admin.empty}">No posts</h2>-->
                    <h2 th:text="#{feed.admin.currentDB}">No posts</h2>
                    <div id="ImageContainerPostDB">
                        <div class="pattern-diagonal-lines-sm gray-lighter">
                            <img class="figure-img" src="../static/images/poop-ava.png"
                                 th:src="@{http://localhost:8080/images/db.png}" alt="DBPic" style="transform:translate(10px, -5px);max-width:1270px;width:100%;"/>
                        </div>
                    </div>
                </div>
            </div>

<!--            Posts available scenario -->
            <div th:unless="${feed.isEmpty()}">
                <h2 th:text="#{feed.posts}">Your post feed</h2>
                <div class="table">
                    <div class="header"></div>
                    <div class="" th:each="post : ${feed}">
                        <div class="cell"><a th:text="${post.title}" th:href="@{/post/{id}(id=${post.id})}">Title</a></div>
                            <div class="cell" th:text="${post.content}">Content</div>
                            <div th:if="${post.picture != null}">
                                <div id="ImageContainerPost">
                                    <div class="pattern-diagonal-lines-sm gray-lighter">
                                        <img class="figure-img" th:src="@{/post/image/{id}(id=${post.id})}" style="transform:translate(10px, 10px);max-width:500px;width:100%;"/>
                                    </div>
                                </div>
                                <br>
                            </div>

                        <div class="text-info" th:text="${'Posted at&#160' + post.createdAt.toString().replace('T', ' ')}">Created at</div>
                        <div>Created by&#160 <a th:text="${post.createdBy.username}" th:href="@{/user/{id}(id=${post.createdBy.id})}">Created by</a> </div>

                        <!--                        LIKE/UNLIKE-->
                        <div th:with="isUserLikedIt=${likeService.isPostLikedByUser(post.id, loggedUser)}">
                            <div th:if="${isUserLikedIt}">
                                <a th:id="'l-' + ${post.getId()}" class="btn text-dark" th:postId="${post.id}"
                                   onclick="unlikePost(this.getAttribute('postId'))"><ion-icon name="heart" color="danger"></ion-icon>
                                    <span th:text="${post.getLikesCount()}"></span></a>
                            </div>
                            <div th:if="${!isUserLikedIt}">
                                <a th:id="'l-' + ${post.getId()}" class="btn text-dark" th:postId="${post.id}"
                                   onclick="likePost(this.getAttribute('postId'))"><ion-icon name="heart"></ion-icon>
                                    <span th:text="${post.getLikesCount()}"></span></a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

        </article>

<!--        DEALING WITH FRIENDS PART-->
<!--        MAKE SURE THIS IS YOUR OWN ACC -->
<!--        SHOW FRIEND REQUEST IF ANY-->
        <div class="col-auto">
            <br>
            <div th:unless="${incomingFriendRequests.isEmpty()}">
                <h6 th:text="#{users.incomingFriendRequests}">Incoming friend requests</h6>

                <!--    table header-->
                        <div class="" th:each="user : ${incomingFriendRequests}">
                        <div class="btn btn-outline-dark"><a th:text="${user.username}" th:href="@{/user/{id}(id=${user.id})}">Username</a></div>
                        <br/>
                            <br/>

                        <form action="#" th:action="@{/friendship/accept/{soonToBeFriendId}(soonToBeFriendId=${user.id})}" th:method="post">
                            <button type="submit" class="btn btn-success" value="Accept friendship">Accept friendship</button>
                        </form>
                        <br>

                        <form action="#" th:action="@{/friendship/decline/{notToBeFriendId}(notToBeFriendId=${user.id})}" th:method="post">
                            <button type="submit" class="btn btn-danger" value="Decline friendship">Decline friendship</button>
                        </form>
<!--                        <form action="#" th:action="@{/friendship/request/{soonToBeFriendId}(soonToBeFriendId=${lookingIntoUserId})}" method="post">-->
<!--                            <input type="submit" value="Block user"/>-->
<!--                        </form>-->
                    </div>
                    <br>
            </div>
        </div>

<!--        MAKE SURE THIS IS NOT YOUR OWN ACC -->
        <br>
        <div th:unless="${isItYourOwnAcc}">
<!--        CHECK IF IN FRIENDS -->
            <div th:if="${isCurrentUserFriend}">
<!--        if already a friend be informed and get an option to end friendship-->
                <form action="#" th:action="@{/friendship/end/{userToUnfriendId}(userToUnfriendId=${user.id})}" method="post">
                    <button type="submit" class="btn btn-danger" value="End friendship">End friendship</button>
                </form>
                <br>
                <form action="#" th:action="@{/blacklist/{userToBlacklistId}(userToBlacklistId=${user.id})}" method="post">
                    <button type="submit" class="btn btn-outline-dark" value="Blacklist user">Blacklist user</button>
                </form>
            </div>

            <div sec:authorize="isAuthenticated()">
            <div th:unless="${isCurrentUserFriend}">
                <div th:unless="${isFriendshipRequestPending}">
                <!--        if not a friend and no request sent, be able to request a friendship-->
                    <form action="#" th:action="@{/friendship/request/{soonToBeFriendId}(soonToBeFriendId=${user.id})}" method="post">
                        <button type="submit" class="btn btn-secondary" value="Request friendship">Request friendship</button>
                    </form>
                </div>
            </div>
            </div>

            <div th:if="${!isCurrentUserFriend and isFriendshipRequestPending}">
                <!--        if not a friend, and request already sent be able to cancel it -->
                <div>You already sent a friend request to this user</div>
            </div>

            <!--                This content is only shown to administrators.-->
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="#" th:action="@{/user/{id}(id=${user.id})}" th:method="delete">
                    <button type="submit" class="btn btn-outline-danger" value="Delete account">Delete</button>
                </form>
            </div>

        </div>

    </section>
    <footer>
        <p> A/P 2020</p>
    </footer>
</div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>
