<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{http://localhost:8080/css/styles.css}" href="../static/css/styles.css"/>
    <title>Update user</title>
</head>
<body>

<!--fon pattern https://bansal.io/pattern-css#installation -->
<div class="pattern-dots-lg bg-dark alert-light">
    <!-- Main Container -->
    <div class="container">
        <!-- Navigation -->
        <header> <a href=""> <h6 class="logo">AntiSocialSocialNetwork</h6> </a>
            <nav>
                <ul>
                    <li><a href="#" th:href="@{/}">HOME</a></li>
                    <li><a href="#" th:href="@{/user/all}">DUDES</a></li>
                    <li><a href="#" th:href="@{/post/all}">FEED</a></li>
                </ul>
            </nav>
        </header>
        <!--profile details section-->
        <section>
            <article class="col-lg-auto">

                <form th:action="@{/user/details/update/{id}(id=${userId})}" th:object="${userInfoDetailsDTO}" method="post">
                    <h2>Update your profile </h2>
                    <div class="form-group">
                        <label for="daysNotGoingOut" class="control-label">Days not going out</label>
                        <input id="daysNotGoingOut" class="form-control" style="width: 250px;" th:field="*{daysNotGoingOut}"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('daysNotGoingOut')}"
                           th:text="${error}">Validation error</p>
                    </div>

                    <div class="form-group">
                        <label for="job" class="control-label">Job</label> <input
                            id="job" class="form-control" style="width: 250px;" th:field="*{job}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('job')}"
                           th:text="${error}">Validation error</p>
                    </div>

                    <div class="form-group blu-margin">
                        <label> Gender
                            <select class="form-control" style="width: 250px;" th:field="*{genderId}" id="dropG">
                                <option th:each="genderId : ${genders}"
                                        th:value="${genderId.genderId}"
                                        th:text="${genderId.type}"></option>
                            </select>
                        </label>
                        <br>
                    </div>


                    <div class="form-group blu-margin">
                        <label> Visibility
                            <select class="form-control" style="width: 250px;" th:field="*{profileVisibilityId}" id="dropV">
                                <option th:each="profileVisibilityId : ${visibilities}"
                                        th:value="${profileVisibilityId.id}"
                                        th:text="${profileVisibilityId.type}"></option>
                            </select>
                        </label>
                        <br>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success">Update</button>
                        <br>
                    </div>
                </form>
            </article>

            <article class="col-lg-auto">
                <div class="form-group">
                    <form action="#" th:action="@{/user/admin/delete/{id}(id=${userId})}" th:method="delete">
                        <button type="submit" class="btn btn-outline-danger" value="Delete account">Delete profile</button>
                    </form>
                </div>
            </article>

        </section>
        <footer>
            <p> A/P 2020</p>
        </footer>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://unpkg.com/pattern.css" rel="stylesheet">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>