body{
    background-color: #212529;
    font-family: Montserrat, serif;
    margin: 0;
    font-style: normal;
    font-weight: 200;
}

.container {
    background-color: #20102e;
    color: lightgrey;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header{
    color: lightgrey;
    width: 100%;
    height: 50px;
    background-color: #8C63C1;
    border-bottom: 1px solid #D4C6FF;
}

.logo {
    color: #fff;
    font-weight: bold;
    text-align: justify;
    width: 40%;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    letter-spacing: 4px;
}

nav {
    float: right;
    width: 30%;
    text-align: right;
    margin-top: 15px;
    margin-right: 25px;
}

header nav ul{
    list-style-type: none;
    float: right;
    padding: 0;
}

nav ul li {
    float: left;
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    margin-right: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s linear;
}

ul li a {
    color: #20102e;
    text-decoration: none;
}
/*	 About Section */
.column1 {
    background-color: #49315E;
    margin: 10px;
    width: 20%;
    text-align: left;
    padding: 30px 20px 20px;
    float: left;
}
.column1 h3 {
    color: #B3B3B3;
    text-align: left;
}

.column2 {
    margin: 10px;
    width: 50%;
    text-align: left;
    padding: 30px 20px 20px;
    float: left;
}
.column2 h3 {
    color: #B3B3B3;
    text-align: left;
}

section:after {
    content: "";
    display: table;
    clear: both;
    height: 220px;
}

footer {
    background-color: #B777F8;
    padding-left: 86%;
    padding-top: 2px;
    padding-bottom: 3px;
}